@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Quicksand:wght@300;400;700&display=swap');

$font-1: 'Josefin',serif;
$font-2: 'Quicksand',
sans-serif;

$color-1: #48466D;
$color-2: #3D84A8;
$color-3: #46CDCF;
$color-4: #ABEDD8;
$color-5: #EAE3C8;
$white: #ddd;
$black: #333;

$borderRadius: 15px;
$shadow: 0 1px 2px #444;
$minHeight: 95vh;
 
//can be called everywhere to set up
@mixin verticalCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 1.5rem;
    font-family: $font-1;
    color: $color-5;
    background: $white;
}

button {
    cursor: pointer;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: $black;
    cursor: pointer;
}

a:visited {
    color: $black;
}

.home,
.knowledges,
.portfolio,
.contact,
.carousel {
    display: flex;

    @media screen and (max-width:850px) {
        display: block !important;
    }
}

.homeContent,
.knowledgesConten,
.portfolioContent,
.contactContent,
.carouselContent {
    margin-left: .4rem;

    @media screen and (max-width:850px) {
        margin-left: .4rem !important;
    }
}